<h1></h1>
<h1>David Gamet</h1>
<h4>réalisateur - sociologue </h4>
<div class="accordion">
  <ul>
    <li>
      <div>
        <a href="#">
          <h2>Films documentaires</h2>
          <p>raconter des hommes, des histoires, des paysages, des savoirs faire</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Sociologie</h2>
          <p>Doctorat en préparation à l'Université de Grenoble</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Socio-antropologie visuelle</h2>
          <p>meller deux passion / écriture de nouvelles méthodes de recherche.</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Enseigner</h2>
          <p>transmettre la sociologie, l'image. </p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Web Développeur Fullstack Junior</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
    <li>
      <div>
        <a href="#">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </a>
      </div>
    </li>
  </ul>
</div>
<p class="about">
  By <a href="http://michaelferry.com/">Michael Ferry</a>
</p>
